.banner {
  background-image: url('../img/tank-and-house.png'), url('../img/truck.png'), linear-gradient(to top, #f7f7f9, #d0f1ff);
  background-size: 1275px auto, 880px auto, cover;
  background-repeat: no-repeat;
}

.banner__inner {
  padding-top: 20px;
  padding-bottom: 87px;

  min-height: 100vh;
}

.banner__title-wrap {
  margin-bottom: 27px;
}

.banner__title,
.banner__sub {
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;

  span {
    color: $dark-blue;
  }
}

.banner__sub {
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;

  line-height: 1.25;
  letter-spacing: normal;
  text-transform: none;
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  width: auto;
}

.banner__description {
  margin-bottom: 33px;

  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.banner__order {
  width: 100%;
  margin-bottom: 58px;
}

.banner__service {
  margin: 20px 0;
  width: 100%;
}

.banner__application {
  width: 100%;
}


@media (min-width: $small-tablet) {
  .banner__inner {
    padding-top: 85px;
  }

  .banner__title {
    font-size: 50px;
  }

  .banner__sub {
    font-size: 28px;
  }

  .banner__description {
    font-size: 14px;
  }
}


@media (min-width: $tablet-width) {
  .banner__inner {
    padding-top: 120px;
  }


  .banner__description {
    font-size: 16px;
  }

  .banner__service {
    width: 100%;

  }
}


@media (min-width: $desktop-width) {
  .banner {
    background-size: 1400px auto, 780px auto, cover;
    background-position: right 122px, -360px 300px, 0 0;
  }

  .banner__inner {
    padding-top: 115px;
    height: auto;
  }

  .banner__title-wrap {
    margin-bottom: 37px;
  }

  .banner__title,
  .banner__sub {
    font-size: 72px;
    text-align: left;
  }

  .banner__sub {
    font-size: 40px;
  }

  .banner__content {
    display: block;
    margin-bottom: 61px;

    width: 823px;
  }

  .banner__description {
    padding: 0;
    font-size: 15px;
    text-align: left;
  }

  .banner__service {
    padding-left: 250px;
  }
}

