.features {
  padding-top: 40px;
  padding-bottom: 53px;

  min-height: 600px;

  background-color: $main-white;
}

.features__title-wrapper {
  margin-bottom: 50px;
}

.features__sub {
  font-size: 12px;
}

.features__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  margin-bottom: 20px;

  z-index: 99999;

  p {
    font-size: 14px;
  }
}

.features__item {
  position: relative;

  display: flex;
  flex-direction: column;
}


.features__caption {
  display: flex;
  align-item: center;

  margin-bottom: 20px;
  padding-left: 62px;
  height: 50px;

  font-size: 14px;
  line-height: 20px;


  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;


    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    font-size: 24px;
    font-weight: bold;
    color: $dark-blue;

    border-radius: 50%;
    background-color: #f6f9fc;
  }

  &--one::before {
    content: '01'
  }

  &--two::before {
    content: '02'
  }

  &--three::before {
    content: '03'
  }

  &--four::before {
    content: '04'
  }

  &--five::before {
    content: '05'
  }

  &--six::before {
    content: '06'
  }

  &--seven::before {
    content: '07'
  }

  &--eight::before {
    content: '08'
  }
}

.features__consultation {
  display: flex;
  flex-direction: column;

  input[type="submit"] {
    font-size: 12px;
  }
}

.features__consultation-img {
  order: 2;

  margin-top: 20px;
}


@media (min-width: $tablet-width) {
  .features__sub {
    font-size: 16px;
  }

  .features__list {
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  }

  .features__caption {
    font-size: 18px;
  }

  .features__list {
    margin-bottom: 40px;
  }

  .features__consultation {
    flex-direction: row;
    align-items: center;

    height: 187px;

    border-radius: 8px;
    background-color: #f6f9fc;
  }

  .features__consultation-img {
    margin-top: 0;
  }

  .features__consultation--submit {
    justify-content: flex-start;

    input[type="submit"] {
      font-size: 12px;
      min-width: 270px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__consultation {
    position: relative;
  }

  .features__consultation-img {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 535px;
  }
}
