.nav__btn  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;


  width: 36px;
  height: 36px;

  border-radius: 6px;
  background-color: $dark-blue;
}

.nav__icon {
  fill: $main-white;
}

@media (min-width: $small-tablet) {
  .nav__btn {
    margin-left: 26px;
  }
}
