$tablet-width: 768px;
$desktop-width: 1300px;

$main-white: #ffffff;

$light-blue: #1e95ca;
$dark-blue:  #2a579c;
$btn-gradient-red: linear-gradient(to top, #f04b47, #eb1a23);
$btn-gradient-blue:  linear-gradient(to top, #1f98cd, #147eaf);
